[2016-12-10 09:42] eovechkin opened #1 "It needs to fix version of lagom sbt plugin"
Hello,

It needs to fix version of "lagom-sbt-plugin" in "project/plugins.sbt" from "1.3.0-SNAPSHOT" to "1.3.0-M1".

Thx.

[2016-12-11 17:57] deanwampler opened #3 "Unit tests fail to compile"
[code]

[2016-12-12 10:44] xpavlic4 commented on #1
The same here:

[error] (*:update) sbt.ResolveException: unresolved dependency: com.lightbend.lagom#lagom-sbt-plugin;1.3.0-SNAPSHOT: not found
(*:update) sbt.ResolveException: unresolved dependency: com.lightbend.lagom#lagom-sbt-plugin;1.3.0-SNAPSHOT: not found

Failed to load project.

[2016-12-16 03:06] #1 closed

[2016-12-18 09:22] lmlynik opened #4 "Kafka: Consumer interrupted with WakeupException after timeout."
I'm trying to run the example locally but I'm receiving lots of warns
[code]

[2017-01-06 11:51] tommpy opened #6 "Typo in http://www.lagomframework.com/documentation/1.3.x/scala/ServiceImplementation.html"
It currently reads:

`play.application.loader += com.example.HelloLoader`

But this gives this error:

I think it ought to be:
`play.application.loader = com.example.HelloLoader`

[2017-01-12 04:41] #6 closed

[2017-01-19 17:08] ignasi35 commented on #4
Hi @lmlynik that warn appears when Kafka server can't be reached. There's two scenarios there: Kafka takes time to start (the message you posted appears few times and then disappears) or some issue prevents Kafka from starting at all (the message you pasted continues appearing until an error is displayed in the logs).

The former can be addressed with a more powerful machine but, while it's inconv

[2017-01-23 18:30] TimMoore commented on #4
@lmlynik Lagom's development environment runs its own Kafka + ZooKeeper services by default, you don't need to run it separately in Docker or otherwise. The internal ones are probably hitting port conflicts on startup so they aren't being used on your machine.

Could you let us know if you still have problems if you stop your Docker container(s)?

[2017-01-26 11:28] ignasi35 commented on #3
This has been solved with recent activity on the project and the plugin version bump to Lagom's 1.3.0-RC1.

[2017-01-26 11:28] #3 closed

[2017-02-07 01:08] bcabs opened #9 "a.a.OneForOneStrategy - Ask timed out"
When running the example locally, I get the following error:

`[error] a.a.OneForOneStrategy - Ask timed out on [Actor[akka://biddingImpl-application/user/cassandraOffsetStorePrepare-singleton/singleton/cassandraOffsetStorePrepare#-1659286943]] after [20000 ms]. Sender[Actor[akka://biddingImpl-application/user/cassandraOffsetStorePrepare-singleton/singleton/cassandraOffsetStorePrepare#-1659286943]

[2017-02-09 04:12] TimMoore commented on #9
@bcabs what did it print before that?

[2017-02-13 18:00] ignasi35 opened #10 "Improve Search Service: UI and tests"
PR #8 provides main service code for serch service. UI and tests should be provided.

[2017-02-13 18:01] ignasi35 opened #11 "Add feature: an item owner should be able to edit an item"
As an Item owner I want to edit an item's description and auction settings before I start the auction.

I also want to edit the description and title once the  auction is already started.

[2017-02-13 19:16] bcabs commented on #9
@TimMoore Unfortunately, I havn't been able to reproduce that error, but did manage to produce the following:

netstat is not showing anything running on 9200

[code]

[2017-02-13 19:20] bcabs commented on #9
caught it!

[code]

[2017-02-14 13:26] agemooij opened #12 "Integration test fails on current master"
When running all tests on the current master, the `ItemServiceImplIntegrationTest` fails consistently on my machine. I don't know enough about Lagom yet to debug it unfortunately.

Output:

[code]

[2017-02-15 09:03] thrxde opened #15 "online-auction-scala is missing in Travis CI - lagom space"
add project to [https://travis-ci.org/lagom]( https://travis-ci.org/lagom) for automatically build, pease

[2017-02-15 09:21] #12 closed

[2017-02-15 23:01] TimMoore opened #16 "Enable MetricsService"
It wasn't obvious to me that `MetricsService` is opt-in with the Scala API, vs. automatic with Java.

We should demonstrate how to include it in the search service (which is the only Lagom service in this project that makes service calls): http://www.lagomframework.com/documentation/1.3.x/scala/ServiceClients.html#circuit-breaker-metrics

[2017-02-24 00:46] neverfox commented on #4
I have this problem without Docker. All I did was clone this repo (a few minute ago), did a `runAll` and watched everything compile. At that point things were fine. I then stop the services (by hitting enter) and then did `runAll` again to have it start clean now that it was pre-compiled. At that point, I got spammed by the Kafka warnings:

[code]

[2017-02-24 00:51] neverfox commented on #4
I did a clean, compile then runAll, and everything worked fine, even after stopping and doing a second runAll. Still probably worth nothing if this is something that tends to happen to people the first time out.

[2017-02-24 00:54] neverfox opened #17 "Add User service to README"
I appreciate the breakdown of the services but it seems this one is missing.

[2017-02-24 01:50] TimMoore opened #18 "Update to Lagom 1.3.1"

[2017-02-24 01:50] TimMoore opened #19 "Update sbteclipse"
See https://github.com/lagom/online-auction-java/pull/23 for example

[2017-02-24 02:01] TimMoore commented on #4
If anyone else runs into this problem, it would be helpful if you can provide the Kafka log.

You can find it at `target/lagom-dynamic-projects/lagom-internal-meta-project-kafka/target/log4j_output/server.log` upload it to a [gist](https://gist.github.com) and paste a link to the gist into a comment here. Thanks!

[2017-02-24 04:28] TimMoore opened #20 "Port README and docs changes from online-auction-java"
The Java version was changed (in https://github.com/lagom/online-auction-java/pull/16) to include setup instructions in `README.md` and move service-specific information under `docs`. We should replicate those changes here.

[2017-02-24 10:12] ignasi35 opened #22 "sbt-eclipse creates descriptors for transaction-xyz causing errors"
When forking the `online-auction-java` some java left-over code was left on `transaction-api`. `sbt` does a good job at ignoring it because the `lazy val root` doesn't include `transaction-xxx` as project modules (see `aggregate`).

`sbt-eclipse`, on the other hand, creates Eclipse descriptors for both `transaction-xxx` which are not compiling at the moment (plus, use Java instead of Scala), so wh

[2017-02-24 10:22] ignasi35 opened #23 "Generating eclipse descriptors before compiling is unsupported"
Importing a play project into eclipse requires (https://www.playframework.com/documentation/2.5.x/IDE#Setup-sbteclipse):
 `sbt clean compile eclipse`

instead of simply

 `sbt eclipse`

That is because `compile` creates some sources that `sbt eclipse` must also consider when creating the eclipse project files.

This is currently undocumented.

NOTE: does it affect `online-auction-java` too?

[2017-02-24 10:23] ignasi35 opened #24 "Readme.md overhaul"
Currently readme lists a set of services and operations/messages each of them supports.

Readme should give some context wrt the project, the purpose, Lagom, instructions to import it into an IDE, instructions to run it and a high level architecture (including a set of services and operations/messages each of them supports).

[2017-02-24 10:24] ignasi35 commented on #24
See also #23

[2017-02-24 10:40] ignasi35 commented on #24
Just noticed @TimMoore already created #20 on this topic too

[2017-02-24 11:33] ignasi35 commented on #20
See also #17

[2017-02-24 15:22] #19 closed

[2017-02-24 15:22] Lambrina commented on #15
Hi, I just tried to do this but got the following message : "You don't have sufficient rights to enable this repo on Travis.Please contact the admin to enable it or to receive admin rights yourself."

[2017-02-24 15:25] ignasi35 commented on #15
Thanks @Lambrina I suspect this is can't be solved by non-members. I'll remove the `outreachy` label.

[2017-02-24 22:55] TimMoore commented on #15
Sorry, I didn't realize that there was already a `.travis.yml` in the project and it just needed to be enabled on the Travis side!

[2017-02-26 22:39] Lambrina commented on #11
Hi, can I get assigned to this task since I've already started implementing the necessary features?

[2017-02-26 23:37] TimMoore commented on #11
Hi @Lambrina. Thanks for working on this! GitHub is only letting me assign members of the Lagom organization, but I think with the comment you've already left that should be enough to keep others from duplicating the work.

[2017-02-26 23:39] TimMoore commented on #11
P.S., this has already been implemented in online-auction-java, so it's a good idea to use the Java implementation as a guide for how it should be implemented in Scala: https://github.com/lagom/online-auction-java/blob/master/item-impl/src/main/java/com/example/auction/item/impl/ItemServiceImpl.java#L91

[2017-02-27 02:07] TimMoore commented on #22
I think it would be better to either port the transactions code to Scala or remove it, rather than leaving it there but excluding it from Eclipse. WDYT?

[2017-02-27 04:37] TimMoore commented on #23
@ignasi35 should we be adding this to the IDE docs in Lagom rather than here?

[2017-02-27 05:24] Lambrina commented on #11
@TimMoore Thank you for the advice :+1:

[2017-02-27 17:07] ignasi35 commented on #11
Hi @Lambrina  and @nomthysmylz, it looks like you are both working on the same issue at once. :thinking:

[2017-02-27 17:11] ignasi35 commented on #23
That's a good point. I'd say we add it both places:
 * here as a quick-copy-paste command
 * lagom docs as a fully detailed step-by-step, x-ref to sbt-eclipse and play

[2017-02-27 17:12] ignasi35 commented on #23
On second thought... this issue applies to sbt+play+eclipse only and it's already documented in Play docs (see link above). I would only document it here.

[2017-02-27 17:21] ignasi35 commented on #22
Just seen you comment after merging #26 which adopted option (2) on the list in the description of this issue. With that merged, eclipse users won't see `transactions-xxx` in the IDE. The first thing a developer taking over the task to implement `transactions-xxx` will have to do is remove the ignores.

To answer your question, I don't think porting incomplete java code to scala makes sense. Remov

[2017-02-27 20:57] katejim commented on #16
I would like to fix this

[2017-03-01 00:23] TimMoore commented on #15
I have enabled this project in Travis CI: https://travis-ci.org/lagom/online-auction-scala

It's currently still awaiting the first build.

[2017-03-01 00:23] #15 closed

[2017-03-01 10:29] nomthysmylz commented on #11
@Lambrina I didn't realise you were working on this too.... :grimacing:  I should have rechecked this before submitting my PR :see_no_evil: :see_no_evil: :see_no_evil:

[2017-03-01 10:46] Lambrina commented on #11
@nomthysmylz no worries, we should probably coordinate tasks better for the future though. Have you finished it yet?

[2017-03-01 11:42] nomthysmylz commented on #11
@Lambrina [online-auction-scala/pull/27/files](https://github.com/lagom/online-auction-scala/pull/27/files) thats how far I had gone on this

[2017-03-01 11:52] Lambrina commented on #11
@ignasi35 @jroper @TimMoore can I get some other feature to implement?

[2017-03-02 14:26] ignasi35 commented on #11
Hi @nomthysmylz  and @Lambrina, the `edit item` feature is quite a big task and I there's enough room for both to collaborate. Given clear contracts on all the services and gateway I think the task can be split.

If you ignore the verbosity of Java and some unrelated small refactors, you can get an idea of the size of the `edit item` task by looking at the original PR in `online-auction-java`: htt

[2017-03-06 05:16] TimMoore opened #31 "Tests can be contaminated by manual test data"
## Reproduction

1. Start the sample app with a fresh database by running `sbt clean runAll`
2. Create a user and an item
3. Stop the server
4. `sbt test`

## Expected behavior

The tests should pass.

## Actual behavior

[code]

The events created by the test are not isolated in any way.

## Workaround

`sbt clean test`

[2017-03-06 05:33] #18 closed

[2017-03-06 19:43] marykomar commented on #4
I have the same problem, running online-auction-java. Here is the link to gist, you asked for: https://gist.github.com/marykomar/b88c1f01c4a2646be7f711b65f1414c7

[2017-03-07 13:46] ignasi35 commented on #23
Alternatively we could have the `eclipse` task in sbt to run `compile` first.

[2017-03-07 14:57] ignasi35 commented on #4
Thanks @marykomar.

@neverfox, @marykomar, @lmlynik the Kafka server used in Development mode is actually a separate process started from `sbt` that will run zookeeper and kafka. You can see on your local machine using `jps` or `ps aux` that there's one process running the KafkaServer exclusively. The reason why somethimes the embedded Kafka server will fail to start are related to corrupted `data

[2017-03-08 04:54] TimMoore commented on #23
@ignasi35 what's the symptom of this bug? It seems to import successfully for me (after running `git clean -dxf` to make sure it was the same as a clean clone and `sbt eclipse` as the very next command). I don't know what I'm looking for, though.

[2017-03-08 06:09] TimMoore commented on #11
@nomthysmylz & @Lambrina could you let us know what your plans are for this? Would you like to collaborate on it together?

[2017-03-08 06:33] TimMoore commented on #31
This has caused some failures in Travis CI as well: https://travis-ci.org/lagom/online-auction-scala/builds/208863419

[2017-03-08 10:35] ignasi35 commented on #23
Freshly clone, run `sbt eclipse` and import into eclipse.

There's missing folders created when a Play compilation happens which were not included into Eclipse descriptor files causing Eclipse to complain.

I've tried to reproduce today and failed. This could be fixed as a side effect of bumping `sbt-eclipse` version to 5.1.0.

I'll close this until we observe it again.

[2017-03-08 15:42] szymonbaranczyk commented on #4
I've run into the same problem while using some Activator template - now all my Lagom projects fail to launch (including online-auction-scala). I've tried sbt clean, restarting my machine and creating new project, nothing helped.

I've posted more info here: http://stackoverflow.com/questions/42675442/lagoms-embedded-kafka-fails-to-start-after-killing-lagom-process-once. You can see Kafka logs fro

[2017-03-08 16:09] ignasi35 commented on #4
This is related to http://stackoverflow.com/questions/42675442/lagoms-embedded-kafka-fails-to-start-after-killing-lagom-process-once

[2017-03-08 17:28] ignasi35 commented on #23
Just saw #32.
@yg-apaza can you comment on the steps to reproduce?
I tried testing with latest `master` and I'm not sure this issue (and #32) apply anymore.

[2017-03-08 22:31] yg-apaza commented on #23
## Reproduction

1. Delete all projects from Eclipse
2. Run `git clean -dfx`
3. Run `sbt eclipse`
4. Import projects in Eclipse

## Expected Behavior

webGateway project should be imported successfully with no errors.
webGateway project should include this packages:
- app
- conf
- target/scala-2.11/twirl/main
- target/scala-2.11/routes/main

## Actual Behavior

webGateway includes 2 packages:
- ap

[2017-03-08 22:37] ignasi35 commented on #23
I think I tried that today but I did pull latest changes first.
Also, I was using a newer Scala IDE (installed couple of days ago) than
what I had installed when I detected the issue.

Can you specify the commit SHA-1 of your local copy and the eclipse version?

Sent from a mobile device. Please excuse my typos and brevity.

--
Ignasi Marimon-Clos
Sw Engineer @ Lagom

On Mar 8, 2017 23:31, "Yulian

[2017-03-08 22:55] yg-apaza commented on #23
Scala IDE version: 4.5.0-vfinal
Commits SHA-1: 9447db4b69eb24c786c25bdb7ea7b47e40ebaafc

[2017-03-08 23:00] Lambrina commented on #11
@TimMoore Sure! @nomthysmylz How would you like to split the work?

[2017-03-08 23:44] TimMoore commented on #23
I can see the problem now... I didn't have Scala IDE installed at all.

@ignasi35 are you using a fresh clone or fully cleaned repo? `sbt clean` isn't enough to reproduce the problem I found.

[2017-03-08 23:46] TimMoore commented on #23
My Scala IDE version is: Scala IDE for Eclipse 4.4.1.v-2_11-201605041057-92a3ed3

[2017-03-09 00:14] TimMoore commented on #23
I don't know why it installed that version rather than 4.5, but I have updated now and I can still reproduce the errors.

It did take a while... you need to wait for it to finish "Building workspace". @ignasi35 could that explain why you didn't see the errors?

In any case, I can confirm now that @yg-apaza's change does fix the problem. There are only a few unrelated warnings reported now. Thank y

[2017-03-09 00:16] #23 closed

[2017-03-09 00:47] TimMoore commented on #23
BTW I do also get errors in online-auction-java. I'll port the change in #32 over to that project.

[2017-03-09 00:55] TimMoore commented on #23
https://github.com/lagom/online-auction-java/pull/54

[2017-03-09 07:38] ignasi35 commented on #23
I can't.

I tried reproducing the issue in `online-auction-scala` _and_ `online-auction-java` . I thought I waited long enough for the workspace to complete the build but that's the only part I'm not sure of.

[2017-03-09 07:46] ignasi35 commented on #23
I do remember removing all `.classpath` and `.project` files and other eclipse-generated folders.

[2017-03-09 14:07] ignasi35 commented on #31
@TimMoore do you think this is also affecting the java version? (but we've never seen it for some exec order of the tests?)

[2017-03-09 14:11] ignasi35 commented on #22
The actual issue is no longer manifesting (fixed in #26). I'll close it.

[2017-03-09 14:11] #22 closed

[2017-03-09 14:17] ignasi35 commented on #20
Fixed in #25

[2017-03-09 14:17] #20 closed

[2017-03-09 14:18] ignasi35 commented on #17
Just checked, user service is currently listed in README.md and has a detailed page too.

[2017-03-09 14:18] #17 closed

[2017-03-17 03:26] TimMoore commented on #31
The Java tests pass, but with an error logged:

[code]

[2017-03-17 03:27] TimMoore commented on #31
That error is logged with clean data too, though, so it must be unrelated to this issue.

[2017-03-17 08:56] ignasi35 commented on #31
I think that stacktrace is expected:
[code]

because of test:

[code]

[2017-03-19 23:45] TimMoore commented on #31
Oh right... strange that it printed after the next test started. Are we missing an await?

[2017-03-20 10:53] ignasi35 commented on #31
I don't think we're missing an await. I think it's a race condition when the logging. I'm not sure if the stack trace is printed by the server-side code or the client side code or the unit-test runner code though.

Long-story short, I don't think the exception is related to the contamination of tests reported in this issue's description originally.

[2017-04-01 08:50] odwrotnie opened #33 "Circuit Breaker TImed out error"
When you runAll and go to / you get this:

[code]

[2017-04-03 01:29] TimMoore commented on #33
@odwrotnie I'm not able to reproduce this... any extra information you can provide that would help us identify the problem would be helpful.

To start, could you provide the full console output? There may be another error hidden in there that is causing this one.

Also, when you say "go to /" do you mean you're loading "http://localhost:9000/" in a browser, or are you trying to hit one of the serv

[2017-04-07 10:47] ignasi35 opened #35 "ItemServiceImplIntegrationTest is Flaky"
I see `ItemServiceImplIntegrationTest` failing _quite_ often in my new laptop.

The error happens in [the last test](https://github.com/lagom/online-auction-scala/blob/43a68c844799e6a4e644062f9957e3d445ecd299/item-impl/src/test/scala/com/example/auction/item/impl/ItemServiceImplIntegrationTest.scala#L75-L89).

[2017-04-11 02:09] #35 closed

[2017-05-15 03:26] TimMoore commented on #33
@odwrotnie is this still an issue for you?

[2017-05-15 12:44] odwrotnie commented on #33
No, it have been fixed.

[2017-05-15 12:44] #33 closed

[2017-05-19 14:25] MatteCarra opened #40 "Throwing IllegalStateException in event handler doesn't update event processor offset"
Throwing IllegalStateException in event handler doesn't update event offset and the event is handled over and over again.

[2017-05-20 10:04] ignasi35 commented on #40
hi @MatteCarra , I am assuming you refer to https://github.com/lagom/online-auction-scala/blob/24df3bb3d370a9d99f3b9250356abdc8fd91d621/item-impl/src/main/scala/com/example/auction/item/impl/ItemRepository.scala#L162.

Receiving an event for an `Item` which still doesn't have a creator should never happen and would be the symptom of another bug. You are right that throwing an exception would make

[2017-06-08 13:37] ignasi35 opened #41 "Topic consumption on search-service skips messages"
As reported via [Gitter](https://gitter.im/lagom/lagom?at=59394b897503e2b70622864f) the [subscriptions](https://github.com/lagom/online-auction-scala/blob/master/search-impl/src/main/scala/com/example/auction/search/impl/BrokerEventConsumer.scala#L18-L21) on serach-service are not compliant since the `collect` operation will skiñp some messages causing the _user-code_ branch and the _offset_ branc

[2017-06-08 13:37] ignasi35 commented on #41
Thanks @2beaucoup for reporting!

[2017-06-16 07:54] TimMoore commented on #40
I'm not sure if there's anything we want to change here. @MatteCarra did you encounter a situation where the application actually got into this illegal state?

[2017-06-26 11:14] scweang opened #44 "TransactionApi seems getting a wrong dependency?"
It use java dsl, but in build.sbt it's `lagomScaladslApi`?

[2017-06-26 23:48] yg-apaza commented on #44
Transaction service is a work in progress. I updated the documentation to state this (#45)
Currently, the source code in `transaction-api` and `transaction-impl` is a copy of Online Auction Java. @ignasi35 @TimMoore do you think it's also necessary to remove the transactions code?

[2017-06-27 00:36] TimMoore commented on #44
@yg-apaza if it's just a copy of the Java code, then yes please go ahead and remove it for now. It's only going to confuse people. Once the Java example is complete, we can port it over to Scala.

[2017-06-27 01:25] TimMoore commented on #24
See also https://github.com/lagom/online-auction-java/issues/113 and https://github.com/lagom/online-auction-java/pull/114. We should incorporate those changes as well.

[2017-06-27 01:28] TimMoore commented on #16
This is obsolete, since Lagom 1.3.3. See https://github.com/lagom/lagom/pull/637

[2017-06-27 01:28] #16 closed

[2017-06-27 01:57] scweang commented on #44
Thank you for quick response. I'm learning Lagom now. This demo is really useful for me.

[2017-06-28 02:49] TimMoore commented on #44
Fixed in #46

[2017-06-28 02:49] #44 closed

[2017-06-30 19:37] AndyMoreland commented on #4
Is there an easy way to clean just this folder with sbt? This happens to me every time I restart `sbt runAll` and it's super annoying.

[2017-08-08 16:13] jewelsjacobs opened #49 "Execution exception on startup + http://localhost:9000/ (root uri)"
I downloaded the latest master as a zip file, ran the sbt command, runAll then entered http://localhost:9000/ in Safari.

I'm running:

- macOS Sierra version 10.12.6
- sbt 0.13.15

I received a number of warnings followed by:

[code]

I put the console log in a public gist since it was pretty large: https://gist.github.com/jewelsjacobs/6da1aea77c88e1107a9e1be92844bde3#file-startup-errors

For mor

[2017-08-08 16:29] jewelsjacobs commented on #49
This looks like it's happened before but then was resolved? https://github.com/lagom/online-auction-scala/issues/33

@odwrotnie do you mind sharing how you resolved this?

[2017-08-08 16:57] ignasi35 commented on #49
Hi @jewelsjacobs are you able to reproduce the error? Have you tried deleting the  `/target` folder and restarting?

I'm trying the steps you described but can't reproduce the symptoms you describe. It's annoying because when @odwrotnie reported #33 we couldn't reproduce the error either. #meh

[2017-08-09 14:30] jewelsjacobs commented on #49
I deleted all of the target directories (root app folder and all services directories). Same result. 😬

I did managed to get rid of, on sbt, runAll, the compile warnings by running:

[code]
before hand
But still got the NetworkClient warnings (on sbt, runAll) and the Circuit Breaker Timed out exception error on entering http://localhost:9000/ (browser cache cleared)

Java info:
[code]

console log

[2017-08-09 16:48] jewelsjacobs commented on #49
Fixed.  Here's what I did:

I forgot to install an run Elastisearch server (next time I'll read ALL of the instructions. I did that.

I STILL got the same exact problems though:

NetworkClient warnings (on sbt, runAll) and the Circuit Breaker Timed out exception error on entering http://localhost:9000/ (browser cache cleared).

However when I hit the enter after http://localhost:9000/ (browser ref

[2017-08-09 16:48] #49 closed

[2017-08-09 17:01] jewelsjacobs commented on #49
Also wanted to mention the Circuit Breaker Timed out exception happened for me on pretty much every page, requiring a refresh, then until I got a user to successfully enter an item. After that it was smooth sailing. No Circuit Breaker Timed out exception on any additional pages any more.

[2017-08-09 18:46] ignasi35 commented on #49
Hi @jewelsjacobs running ElasticSearch is optional. It will cause the search features to return 0 results but the purpose of it being optional is to ease the run of the sample app and to show that in case of an partial infrastructure failure (in this case the DB of a particular microservice) the application continues to operate normally (but with some features degraded or temporarily unavailable,

[2017-08-09 18:46] ignasi35 commented on #49
Thanks for all the information provided. It'll be helpful if the issue arises in the future.

[2017-08-15 17:27] andrewayres commented on #49
Hi @jewelsjacobs - I experience exactly the same issue and exactly as you describe it.

[2017-08-15 23:13] TimMoore commented on #49
@jewelsjacobs & @andrewayres I wonder if you might be affected by this bug with Java on Sierra: https://thoeni.io/post/macos-sierra-java/

This is known to cause slow startup in Lagom services and many other Java-based applications.

The workaround is described in that post, but the summary is:

1. `hostname | pbcopy` (copies your hostname)
2. `sudo -e /etc/hosts` (and enter your login password wh

[2017-08-15 23:17] TimMoore commented on #49
BTW I just raised this issue to add a check to the Lagom development environment: https://github.com/lagom/lagom/issues/941

If is in fact the cause of the problems you've observed, that change might help future users troubleshoot it.

[2017-08-16 08:31] andrewayres commented on #49
@TimMoore thank you so much for taking the time to look into this and post the above information. I can confirm this solved the problem for me; no more "Circuit Breaker Timed out" error and now online-auction-scala-master is lightning fast to run locally, instead of the sluggish responses I was getting before.

For reference, I'm running SierraOS 10.12.6 on a 2017 MBP running Java 1.8.0_144, and w

[2017-10-29 01:07] jeduardocosta opened #55 "Provide transaction api"
It's necessary to provide the transaction api (api and implementation projects) in this repository with Scala code, following the same endpoints and business rules of the [online-auction-java](https://github.com/lagom/online-auction-java) repository.

Is there any reason why transaction api project isn't available yet?

[2017-10-30 00:49] TimMoore commented on #55
@jeduardocosta only that nobody has had a chance to port it from Online Auction Java yet. Would you be willing to submit a pull request?

[2017-10-30 02:10] jeduardocosta commented on #55
I think I can do this. I'm going to start work on it.

[2017-11-16 10:00] ndelangen commented on #49
@TimMoore You saved my day, thank you so much! ♥️

[2018-01-14 23:10] smarijic opened #57 "Duplication of events"
I am new to Lagom.
Can someone explain me why there is duplication of same events (AuctionStarted, AuctionFinished, etc.) in item-impl while same events exist in item-api.

Thanks

[2018-01-15 09:44] renatocaval commented on #57
@smarijic The idea is to not leak the events from your domain to the external world. The API events are intended to be consumed by other services and you should keep your internal implementation decoupled from the external API to allow you to refactor it without impacting the consumers of your API.

It may look like an unnecessary overhead. Especially when the events (internal and API) share exact

[2018-01-15 09:46] renatocaval commented on #57
@smarijic I'm closing this issue, as it was more a question. It's preferable to ask questions on our mailing list or gitter channel. We reserve GitHub issues for bug reports and change requests.

[2018-01-15 09:46] #57 closed

[2018-02-13 07:53] au9ustine commented on #9
same issue +1

[2018-02-19 02:56] omidb commented on #4
Any update on this issue? It seems if the target Kafka folder gets deleted, it will work fine but it doesn't happen automatically.

[2018-02-21 21:42] ignasi35 commented on #9
`Connection refused: /127.0.0.1:9200` is unrelated. It just indicates that `ElasticSearch` can't be contacted. ElasticSearch is not managed by `sbt` and is meant to be started manually.

[2018-03-01 05:43] TimMoore commented on #9
Does the application actually work when you see this @au9ustine? Can you add your console output to the issue?

Suspect that the ask timeout could be caused by under-powered machines that can't start everything fast enough, but I would also expect this to automatically retry and correct itself eventually.

[2018-04-02 11:39] getmetorajesh opened #68 "Elastic search throws parsing_exception when using pageNo and pageSize params"
When trying to search for an item via ```locahost:9000/api/search?pageNo=1&pageSize=10``` the api throws an `parsing_excpetion`
[code]

This must be due to the field names `pageSize` and `pageNumber`. I believe Elastic search equivalent for them is `from` and `size`.

[2018-04-02 12:32] getmetorajesh opened #69 "Search service api expects a request body for GET request"
In SearchService.scala the search is referring to GET request at the same time expecting a request body. This cause issues when trying to execute a request from any common rest clients such as postman.

`restCall(Method.GET, "/api/search?pageNo&pageSize", search _),`

Changing this to POST works pretty well,

`restCall(Method.POST, "/api/search?pageNo&pageSize", search _),`

[2018-04-02 16:58] botekchristophe commented on #69
I created a pull request for this. Please let me know what you think
#70

[2018-04-02 19:13] ignasi35 commented on #69
This is wrong on `online-auction-java` too.

[2018-04-02 20:54] botekchristophe opened #71 "[Suggestions for improvement] User Service"
Hi everyone,

I would like to refactor the user service and add a couple of features. Most of it will be inspired by the online-auction-java and specificaly from their service descriptor:
https://github.com/lagom/online-auction-java/blob/master/user-api/src/main/java/com/example/auction/user/api/UserService.java
As you can see, the java versions is supporting a registration process, a login endpoi

[2018-04-03 10:50] ignasi35 commented on #69
Fixed in #70

[2018-04-03 10:50] #69 closed

[2018-04-03 10:54] ignasi35 opened #73 "Search feature completion"
`online-auciton-scala`'s version of the Search service is not as complete as the java equivalent in `online-auction-java`. For starters: there's no UI.

As raised in https://github.com/lagom/online-auction-scala/pull/68, there was a runtime issue fixed in https://github.com/lagom/online-auction-scala/pull/72. But https://github.com/lagom/online-auction-scala/pull/72 exposed another runtime issue:

[2018-04-03 11:03] ignasi35 commented on #71
Hey @botekchristophe, thanks for stepping up and contribute!

The `UserService` could use some love to implement, for example, `login` but maybe you could take advantage of the situation and suggest a different approach than what's implemented in `online-auction-java`. The implementation there has some limitations (won't allow changing a user's username for example) and maybe we can find small alt

[2018-04-03 15:14] botekchristophe commented on #71
Idealy, the user-service and the authentication could be separated. What about starting with implementing basic CRUD =>
UserRequest(email: String, password: String)
UserUpdate(username: Option[String] = None, email: Option[String] = None)
User(id: UUID, username: String, email: String, salted_hashed_pwd: String, salt: String) // in Cassandra
UserResponse(id: UUID, email: String, username: Option[S

[2018-04-09 10:10] #68 closed

[2018-05-09 14:28] lejoow opened #78 "Resolve attempt failed! Cause: spray.json.DeserializationException: Object is missing required member 'items'"
I am not 100% sure if this is the issue specifics to my local settings or not. But every time I try to deploy the item-svc or bidding-svc to my Google KBE, I am getting this exception.

Resolve attempt failed! Cause: spray.json.DeserializationException: Object is missing required member 'items'

<img width="1117" alt="screen shot 2018-05-09 at 7 23 54 am" src="https://user-images.githubusercontent

[2018-05-10 02:34] TimMoore commented on #78
I think I've found the problem. GCP enables Role-Based Access Control (aka RBAC) by default in new Kubernetes clusters. This requires configuring roles to allow access to resources within the Kubernetes API. Lightbend Orchestration (specifically, the Akka Cluster Bootstrap component) uses the Kubernetes API to automatically form a cluster. Without binding your pods' service account to a role that

[2018-05-10 14:43] lejoow commented on #78
@TimMoore  fantastic. Let me try this fix today and come back to you on this post. Thanks a lot!

[2018-05-10 17:56] lejoow commented on #78
hmm... I don't get that error anymore, but I am getting the different errors now:

2018-05-10T17:54:27.363Z [[37minfo[0m] akka.management.cluster.bootstrap.dns.HeadlessServiceDnsBootstrap [sourceThread=application-akka.actor.default-dispatcher-24, akkaTimestamp=17:54:27.363UTC, akkaSource=akka.tcp://application@10.16.1.48:10001/system/headlessServiceDnsBootstrap, sourceActorSystem=application] -

[2018-05-10 18:07] lejoow commented on #78
It worked! I just had to re-deploy. Thanks!
Btw, when I tried to create the role by applying that file you pasted, I ran into "pod-reader forbidden" error message, which I resolved by following the instructions here:

kubectl create clusterrolebinding cluster-admin-binding \
    --clusterrole=cluster-admin \
    --user=$primary_account
https://github.com/jcbsmpsn/gke-rbac-walkthrough/blob/master/c

[2018-05-11 01:55] TimMoore commented on #78
Let's leave this open until the documentation is updated. Thanks!

[2018-05-15 05:50] TimMoore commented on #78
Added an issue for the Akka Management documentation to note that Google Cloud users will need to grant themselves the `cluster-admin` `ClusterRole`: https://github.com/akka/akka-management/issues/199

[2018-05-17 09:42] ignasi35 opened #80 "Replace ReadSideTestDriver with lagom-testkit's"
Lagom 1.4.5 imported ReadSideTestDriver from this project into lagom-testkit. The implementation here could be removed.

see #79 and lagom/lagom/milestone/30?closed=1

[2018-05-20 18:31] Canislupax commented on #78
That solved my problem! Thanx a lot Tim! You`re the best!

[2018-05-27 14:57] idoshamun commented on #78
@TimMoore I followed your suggestion but now I receive:
[code]
For what it's worth, I am trying to run Lagom with Istio

[2018-05-27 15:04] idoshamun commented on #78
Disabling Istio resolves this issue, I will try to look further and share results

[2018-05-31 16:34] normenmueller commented on #78
@TimMoore @lejoow I have the same issue running on Minikube. Here are my deployment steps:

[code]

All Pods have status `Running`.

Then I have a look at the `minikube dashboard` and all my services are marked with

[code]

Then I have a look in the logs at the `minikube dashboard` and get:

[code]

[2018-05-31 16:44] Bunyod commented on #78
@TimMoore @lejoow @normenmueller I'm also facing with `getsockopt: connection refused` issue. I follow [this link](https://developer.lightbend.com/guides/lagom-kubernetes-k8s-deploy-microservices/).

Does anybody have an idea how fix it?

[2018-06-14 18:57] bahtiyarerden opened #83 "Readiness probe failed: Get http://172.17.0.10:10002/platform-tooling/ready: dial tcp 172.17.0.10:10002: getsockopt: connection refused Back-off restarting failed container"
Hello,

I am trying to deploy my lagom scala project on kubernetes by following the development workflow. But i am getting this error on kubernetes dashboard:

`Readiness probe failed: Get http://172.17.0.10:10002/platform-tooling/ready: dial tcp 172.17.0.10:10002: getsockopt: connection refused Back-off restarting failed container`

There is my deployment steps:

[code]

[2018-06-18 04:08] TimMoore commented on #40
Closing due to no response from the original submitter.

[2018-06-18 04:08] #40 closed

[2018-06-20 16:33] OguzhanSaltik commented on #78
We have the same error, due to Lightbend Orchestration documentation.

[2018-06-20 19:48] TimMoore commented on #78
The `getsockopt: connection refused` message itself only indicates that the service is not running. Of course, there could be many reasons for that. You'll need to look at the logs for the pod to understand more. I'd like to keep this issue thread focused on the original issue reported, which has a solution described in a comment above: https://github.com/lagom/online-auction-scala/issues/78#issue

[2018-06-21 13:56] bahtiyarerden commented on #78
We are trying to deploy our lagom application with kubernetes. But we could not fix this issue. We clone this repository (chirper) and deploy with minikube to be sure the problem does not about our configuration. It is the result:

<img width="931" alt="screen shot 2018-06-21 at 15 29 29" src="https://user-images.githubusercontent.com/3479123/41719366-81ffa5fc-7568-11e8-9cfc-bdfddfc3b153.png">

An

[2018-06-22 14:21] Bowiemb opened #84 "Why does the example require an internet connection?"
When I'm connected to an internet connection, the example works. When I'm not connected to an internet connection, or I'm behind a firewall, then the example does not work.

Does anyone know what part of the code is trying to connect to the internet so that I can cut it out?

Thank you!

My best,
Michael

[2018-06-23 21:28] ale222 commented on #78
Trying to deploy online-auction, getting:

`akka.management.cluster.bootstrap.dns.HeadlessServiceDnsBootstrap [sourceThread=application-akka.actor.default-dispatcher-5, akkaTimestamp=12:27:31.874UTC, akkaSource=akka.tcp://application@10.48.0.13:10001/system/headlessServiceDnsBootstrap, sourceActorSystem=application] - Discovered [1] observation, which is less than the required [2], retrying (inter

[2018-06-25 16:37] Bowiemb commented on #84
My colleague figured out the problem... if you have macOS Sierra and your connections are timing out, or if you are experiencing weird connection issues this fixed it for me: https://stackoverflow.com/questions/39636792/jvm-takes-a-long-time-to-resolve-ip-address-for-localhost/39698914#39698914

[2018-06-25 16:37] #84 closed

[2018-06-27 08:07] zhangzhonglai commented on #78
same error because of akka/akka-management#222 when using `sbt-reactive-app >= 1.2.0`
if someone encounter the error like me, simply back to use `sbt-reactive-app 1.1.0` will temporary fix the error now.

[2018-06-27 11:24] ale222 opened #85 "Deployment to GCP not working"
Hello everyone,
I'm trying to get `online-auction-scala` running on GCP. The only thing I miss now is getting `ingress` working. The health check from `search` service reports `UNHEALTHY` status, although `search` service is up and running and there are no errors in it's logs.

The steps I do after building docker images and publishing them to docker registry:
[code]

when the `reactive-sandbox` i

[2018-06-27 13:02] ktoso commented on #78
The related issue #222 was resolved, 0.15 should fix it then. Thanks for digging into this!

[2018-06-27 13:28] OguzhanSaltik commented on #78
Great news @ktoso , when will be 0.15 version applied to the Lagom?

[2018-06-27 13:41] ktoso commented on #78
I'll have to rely this to @TimMoore, not sure on release schedule of intermediate deps etc.

[2018-06-28 08:51] berk-can commented on #9
This issue seems relatively old but I could reproduce error,

`akka.actor.OneForOneStrategy [sourceThread=device-shadow-svc-akka.actor.default-dispatcher-18, akkaTimestamp=08:46:31.463UTC, akkaSource=akka://device-shadow-svc/user/cassandraOffsetStorePrepare-singleton/singleton/cassandraOffsetStorePrepare, sourceActorSystem=device-shadow-svc] - Ask timed out on [Actor[akka://device-shadow-svc/user/

[2018-06-28 11:07] OguzhanSaltik commented on #78
You are right, the related fix is part of the sbt-reactive-app plugin. We look forward to the version updates, thanks to everyone.

[2018-08-01 17:25] bahtiyarerden commented on #83
Hi @igobrilhante,

You can look at the [https://discuss.lightbend.com/t/kubernetes-rbac-settings/1402/3](https://discuss.lightbend.com/t/kubernetes-rbac-settings/1402/3) for the temporary solution that we found.

[2018-08-01 17:42] igobrilhante commented on #83
thanks @bahtiyarerden

[2018-08-13 15:40] Somuncu commented on #9
[ERROR] a.a.OneForOneStrategy - Ask timed out on
I have this error. Have any idea to fix it for my error ?

[2018-08-16 16:59] WadeWaldron opened #90 "ItemRepository leverages a var for prepared statements"
The ItemRepository (and possibly others) leverages a var for prepared statements. This is contrary to the documentation which proposes that a promise be used instead:

https://www.lagomframework.com/documentation/1.4.x/scala/ReadSideCassandra.html#Prepare

An alternative approach would be to use a lazy val.

[2018-09-14 12:34] #83 closed

[2018-09-15 16:30] fgfernandez0321 commented on #90
Hi,
Using `lazy val` approach would be something like:
[code]
[code]
I would like to help with this.

[2018-09-17 06:29] TimMoore commented on #90
Thanks, @fgfernandez0321!

I think it would be best to align the documentation with the example. Right now, the documentation @WadeWaldron linked to uses promises. So, either this example should also be updated to use promises, or they should both be updated to use `lazy val`. Using `lazy val` looks simpler, but I'm not sure if there's some disadvantage when you don't invoke this from the `prepare

[2018-09-17 13:38] fgfernandez0321 commented on #90
Hi @TimMoore

I tested `lazy val` approach in a different project and it works great however the documentation suggests another approach using promises and the `online-auction-scala` example should be aligned with it.

Using `promises` approach would be something like:
[code]
[code]
I have both approaches implemented using `ItemRepository` as example.

Please let me know if I can collaborate with

[2018-10-10 12:49] renatocaval commented on #90
Resolved by #95

[2018-10-10 12:49] #90 closed

[2018-10-18 10:24] dwijnand opened #96 "Update to have feature parity with the Java version"

[2018-10-27 10:07] doofin opened #97 "how to integrate with akka-http?"

[2018-10-27 17:43] TimMoore commented on #97
Please start a discussion thread on https://discuss.lightbend.com/ with more detail about what kind of integration you're interested in.

[2018-10-27 17:43] #97 closed

[2018-11-13 15:09] balteo opened #98 "Clarification required about data persistence for item entities"
Hello,

I am new to the Lagom framework and CQRS. I tried running the online-auction-scala application on my machine and I am trying to figure out where all of the **item data is stored, especially the item description**...

I have looked at all of the cassandra tables especially the itemsummarybycreator:

`cqlsh:item> select * FROM itemsummarybycreator;`

[code]

But was not able to find out wher

[2018-11-13 15:12] balteo commented on #98
I am aware my question is not strictly an issue but would be very grateful for a reply which would help kickstart me into Lagom/CQRS.

[2018-11-13 18:32] balteo commented on #98
I seem to have found the answer to my question. The **item description** is stored within the `event` blob field of the `messages` table in the `item` keyspace.

One can therefore view the item description as follows:

`select blobastext(event) from item.messages ;`

[2018-11-13 18:34] #98 closed

[2018-11-14 09:38] balteo commented on #98
Thanks a lot Tim.
Will do.
Julien

Le mer. 14 nov. 2018 à 04:26, Tim Moore <notifications@github.com> a écrit :

[2018-11-20 18:54] sourav0457 commented on #83
Even I am facing the same issue with sbt-reactive-app plugin v1.4.0. Does anyone have any solutions for it?
 minikube version: v0.30.0

[2018-12-10 01:22] norfe opened #103 "KUBERNETES.md doc references old URL"
Tim Moore asked to raise this on Lagom gitter.

Doc has:

helm repo add lightbend-helm-charts https://lightbend.github.io/helm-charts

Should be:
helm repo add lightbend-helm-charts https://repo.lightbend.com/helm-charts

[2018-12-18 01:01] #103 closed

[2019-01-25 10:26] lutzh opened #106 "Question: Separating Commands and Queries"
It seems in the design of this example, the separation of operations that mutate the persistent entity and the ones that query the state of it, is rather lax. E.g. placing a bid also return the current price.

What is the authors' take on separating commands and queries (CQS) when it comes to Lagom persistent entities?
It seems some CQRS proponents on the internet suggest following this rather str

[2019-02-20 00:15] ryanhanks commented on #71
Where is this PR?

[2019-03-04 16:02] ignasi35 commented on #71
There was some work in https://github.com/lagom/online-auction-scala/pull/75 but it never made it across the line.

[2019-03-23 14:47] ryanhanks opened #112 "Fix-up Elasticsearch integration"
As mentioned in https://github.com/lagom/online-auction-scala/issues/73, execution of  `SearchService.search` currently incurs a runtime error (formatted for readability):
[code]
The underlying issue is that the query we send to Elasticsearch is malformed.
# The broken Elasticsearch query
Here's a full example of a query that might be generated with the current implementation:
[code]
There's two p

[2019-03-23 15:07] ryanhanks commented on #73
It looks like we have two tasks at-hand here:
1. Build a UI for searching auction items
2. Address runtime issue in `SearchService.search` (I've created https://github.com/lagom/online-auction-scala/issues/112 to discuss this separately).

When https://github.com/lagom/online-auction-scala/issues/112 is resolved, we should take a look at https://github.com/lagom/online-auction-scala/pull/113, whic

[2019-03-25 09:23] ignasi35 commented on #112
Wow! That's an amazing writeup and detailed explanation!

I like the approach and your work on #111. Thanks @ryanhanks

[2019-03-25 09:24] ignasi35 commented on #112
fixed in #111

[2019-03-25 09:35] ignasi35 commented on #112
Hmm, #111 fixes the query syntax. Is that syntax specific to any recent version of ElasticSearchor was it just wrong from the beginning? In https://github.com/lagom/online-auction-scala/blob/1.4.x/README.md the instructions are for ElasticSearch `5.0.2` so if we need a newer version of ElasticSearch we should also update those docs (`README.md`).

[2019-04-03 01:52] ryanhanks commented on #112
I'm not sure. This implementation was tested against `5.0.2`, so the docs seem fine to me for now.

[2019-04-04 02:08] ryanhanks commented on #112
@ignasi35 anything else we need to do to close out this issue? https://github.com/lagom/online-auction-scala/pull/111 resolves this as far as I'm concerned.

[2019-04-17 17:39] ignasi35 commented on #112
Solved in #111

[2019-04-17 17:39] #112 closed, assigned to nobody

[2019-04-18 07:54] ale222 commented on #85
The issue was that the gke checks the health of the pod, by default on `/` with a `GET` http method.
Since that was not configured, the check failed.
With the new 1.5 version of lagom, akka management health checks can be configured for this purpose.

[2019-04-18 07:54] #85 closed